<li>
	<h1>{{title}}</h1>
	<h4>{{plot}}</h4>

	<button class="change-watched" data-id="{{id}}" data-newwatched="{{watched}}">
		{{#if watched}}Meal TIME!{{else}}No food for you!{{/if}}
	</button>

	<button class="delete-movie" data-id="{{this.id}}">DELETE!</button>
</li>
